<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tecnico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Registrar Nuevo Modelo</h1>
        <form th:action="@{/modelos/save}" method="post">
            <div class="form-group">
                <label for="inputNombreModelo">Nombre del modelo</label>
                <input type="text" class="form-control" id="inputNombreModelo"
                name="modelo_nombre"
                placeholder="Ingrese nombre del modelo">
                <select class="form-select" aria-label="Select Marca" id="selectMarcaModelo" name="marca_id">
                    <option selected disabled>Seleccionar una marca</option>
                    <option th:each="marca:${Marcas}" th:text="${marca.marca_nombre}" th:value="${marca.marca_id}"></option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</body>

</html>