<div th:insert="base.html"></div>
<title>Modelo</title>

<div class="container crud-container">
    <div>
        <div class="crud-header">
            <div>
                <h1 class="crud-title">Lista de modelos</h1>
            </div>
            <div>
                <button data-bs-toggle="modal" data-bs-target='#createModal' class="btn btn-create">Agregar
                    modelo</button>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="modelo:${Modelos}">
                    <td scope="row" th:text="${modelo.modelo_id}"></td>
                    <td th:text="${modelo.modelo_nombre}"></td>
                    <td>
                        <span th:if="${modelo.modelo_marca != null}"
                            th:text="${modelo.modelo_marca.marca_nombre}"></span>
                        <span th:if="${modelo.modelo_marca == null}">N/A</span>
                    </td>
                    <td class="action-cell">
                        <button class="btn btn-edit" data-bs-toggle="modal"
                            th:attr="data-bs-target='#editModal' + ${modelo.modelo_id}">
                            <img class="icon-button" th:src="editar.png">
                        </button>
                    </td>
                    <td class="action-cell">
                        <button class="btn btn-delete" data-bs-toggle="modal"
                            th:attr="data-bs-target='#deleteModal' + ${modelo.modelo_id}">
                            <img class="icon-button" th:src="borrar.png">
                        </button>
                    </td>
                    <!-- Modal de EDITAR -->
                    <div class="modal fade" th:id="'editModal' + ${modelo.modelo_id}" tabindex="-1"
                        th:attr="aria-labelledby='editModalLabel' + ${modelo.modelo_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header edit-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'editModalLabel' + ${modelo.modelo_id}">
                                        Editar registro <span th:text="${modelo.modelo_id}"></span>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/modelos/save}" method="post">
                                        <input type="hidden" name="modelo_id" th:value="${modelo.modelo_id}">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">Nombre</span>
                                                </div>
                                                <input type="text" class="form-control" id="inputNombreModelo"
                                                    name="modelo_nombre" th:value="${modelo.modelo_nombre}"
                                                    placeholder="Ingrese el nuevo nombre del modelo">
                                            </div>
                                            <select class="form-select" aria-label="Select Marca" id="selectMarcaModelo"
                                                name="marca_id">
                                                <option disabled>Seleccionar una marca</option>
                                                <option th:each="marca:${Marcas}" th:text="${marca.marca_nombre}"
                                                    th:value="${marca.marca_id}"
                                                    selected="${marca.marca_id === modelo.marca_id}"></option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-edit modal-btn">Actualizar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal de ELIMINAR -->
                    <div class="modal fade" th:id="'deleteModal' + ${modelo.modelo_id}" tabindex="-1"
                        th:attr="aria-labelledby='deleteModalLabel' + ${modelo.modelo_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header cancel-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'deleteModalLabel' + ${modelo.modelo_id}">
                                        ¿Estás seguro que deseas eliminar el registro <span
                                            th:text="${modelo.modelo_id}"></span>?
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Se <b>perderán</b> todos los datos del mismo
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/modelos/delete/{id}(id=${modelo.modelo_id})}"
                                        class="btn btn-delete modal-btn">Eliminar</a>
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal de CREAR -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header create-modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Crear modelo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/modelos/save}" method="post">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Nombre del modelo</span>
                                </div>
                                <input type="text" class="form-control" id="inputNombreModelo" name="modelo_nombre"
                                    placeholder="Ingrese el nuevo nombre del modelo"><br>
                            </div>
                            <select class="form-select" aria-label="Select Marca" id="selectMarcaModelo"
                                name="marca_id">
                                <option selected disabled>Seleccionar una marca</option>
                                <option th:each="marca:${Marcas}" th:text="${marca.marca_nombre}"
                                    th:value="${marca.marca_id}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-create modal-btn">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-closeModal modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
