<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <h1>Lista de modelos</h1>

    <a th:href="@{modelos/create}" class="btn btn-primary">Nuevo Modelo</a>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Acción</th> 
                    <th scope="col">Acción</th> 

                </tr>
            </thead>
            <tbody>
                <tr th:each="modelo:${Modelos}">
                    <td scope="row" th:text="${modelo.modelo_id}"></td>
                    <td th:text="${modelo.modelo_nombre}"></td>
                    <td> 
                        <span th:if="${modelo.modelo_marca != null}" th:text="${modelo.modelo_marca.marca_nombre}"></span>
                        <span th:if="${modelo.modelo_marca == null}">N/A</span>
                    </td>
                    <td> <a th:href="@{/modelos/edit/{id} (id=${modelo.modelo_id}) }" class="btn btn-warning">Modificar</a></td>
                    <td> <a th:href="@{/modelos/delete/{id}(id=${modelo.modelo_id})}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>