<div th:insert="base.html"></div>
<title>Cliente CRUD</title>

<div class="container crud-container">
    <div>
        <div class="crud-header">
            <div>
                <h1 class="crud-title">Lista de clientes</h1>
            </div>
            <div>
                <a th:href="@{/clientes/create}" class="btn btn-create" data-bs-toggle="modal"
                    data-bs-target="#createModal">Agregar cliente</a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Número de teléfono</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${Clientes}">
                    <td scope="row" th:text="${cliente.cliente_id}"></td>
                    <td th:text="${cliente.cliente_nombre}"></td>
                    <td th:text="${cliente.cliente_apellido}"></td>
                    <td th:text="${cliente.cliente_telefono}"></td>
                    <td class="action-cell">
                        <button class="btn btn-edit" data-bs-toggle="modal"
                            th:attr="data-bs-target='#editModal' + ${cliente.cliente_id}">
                            <img class="icon-button" th:src="editar.png">
                        </button>
                    </td>
                    <td class="action-cell">
                        <button class="btn btn-delete" data-bs-toggle="modal"
                            th:attr="data-bs-target='#deleteModal' + ${cliente.cliente_id}">
                            <img class="icon-button" th:src="borrar.png">
                        </button>
                    </td>
                    <!-- Modal de EDITAR -->
                    <div class="modal fade" th:id="'editModal' + ${cliente.cliente_id}" tabindex="-1"
                        th:attr="aria-labelledby='editModalLabel' + ${cliente.cliente_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header edit-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'editModalLabel' + ${cliente.cliente_id}">
                                        Editar cliente <span th:text="${cliente.cliente_id}"></span>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/clientes/save}" method="post">
                                        <input type="hidden" name="cliente_id" th:value="${cliente.cliente_id}">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">Nombre del cliente</span>
                                                </div>
                                                <input type="text" class="form-control" id="inputNombreCliente"
                                                    name="cliente_nombre" th:value="${cliente.cliente_nombre}"
                                                    placeholder="Ingrese el nuevo nombre del cliente" oninput="validarSoloLetras(this)" required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">Apellido del cliente</span>
                                                </div>
                                                <input type="text" class="form-control" id="inputApellidoCliente"
                                                    name="cliente_apellido" th:value="${cliente.cliente_apellido}"
                                                    placeholder="Ingrese el nuevo apellido del cliente" oninput="validarSoloLetras(this)" required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">Teléfono del cliente</span>
                                                </div>
                                                <input type="text" class="form-control" id="inputTelefonoCliente"
                                                    name="cliente_telefono" th:value="${cliente.cliente_telefono}"
                                                    placeholder="Ingrese el nuevo teléfono del cliente" oninput="validarSoloNumeros(this)" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-edit modal-btn">Actualizar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal de ELIMINAR -->
                    <div class="modal fade" th:id="'deleteModal' + ${cliente.cliente_id}" tabindex="-1"
                        th:attr="aria-labelledby='deleteModalLabel' + ${cliente.cliente_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header cancel-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'deleteModalLabel' + ${cliente.cliente_id}">
                                        ¿Estás seguro de que deseas eliminar al cliente <span
                                            th:text="${cliente.cliente_id}"></span>?
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Se perderán todos los datos relacionados con este cliente.
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/clientes/delete/{id}(id=${cliente.cliente_id})}"
                                        class="btn btn-delete modal-btn">Eliminar</a>
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal de CREAR -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header create-modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Crear cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/clientes/save}" method="post">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Nombre del cliente</span>
                                </div>
                                <input type="text" class="form-control" id="inputNombreCliente" name="cliente_nombre"
                                    placeholder="Ingrese el nuevo nombre del cliente" oninput="validarSoloLetras(this)" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Apellido del cliente</span>
                                </div>
                                <input type="text" class="form-control" id="inputApellidoCliente"
                                    name="cliente_apellido" placeholder="Ingrese el nuevo apellido del cliente" oninput="validarSoloLetras(this)" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Teléfono del cliente</span>
                                </div>
                                <input type="text" class="form-control" id="inputTelefonoCliente"
                                    name="cliente_telefono" placeholder="Ingrese el nuevo teléfono del cliente" oninput="validarSoloNumeros(this)" required>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-create modal-btn">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-closeModal modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function validarSoloLetras(input) {
            input.value = input.value.replace(/[^a-zA-ZÑñ]/g, '');
        }

        function validarSoloNumeros(input) {
            input.value = input.value.replace(/\D/g, '');
        }

    </script>
</div>
