<div th:insert="base.html"></div>
<title>Técnico</title>

<div class="container crud-container">
    <div>
        <div class="crud-header">
            <div>
                <h1 class="crud-title">Lista de técnicos</h1>
            </div>
            <div>
                <a th:href="@{/tecnicos/create}" class="btn btn-create" data-bs-toggle="modal"
                    data-bs-target="#createModal">Agregar técnico</a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Fecha Modificación</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tecnico : ${Tecnicos}">
                    <td scope="row" th:text="${tecnico.tecnico_id}"></td>
                    <td th:text="${tecnico.tecnico_nombre}"></td>
                    <td th:text="${tecnico.fechaCreacion}"></td>
                    <td th:text="${tecnico.fechaModificacion}"></td>
                    <td class="action-cell">
                        <button class="btn btn-edit" data-bs-toggle="modal"
                            th:attr="data-bs-target='#editModal' + ${tecnico.tecnico_id}">
                            <img class="icon-button" th:src="editar.png">
                        </button>
                    </td>
                    <td class="action-cell">
                        <button class="btn btn-delete" data-bs-toggle="modal"
                            th:attr="data-bs-target='#deleteModal' + ${tecnico.tecnico_id}">
                            <img class="icon-button" th:src="borrar.png">
                        </button>
                    </td>
                    <!-- Modal de EDITAR -->
                    <div class="modal fade" th:id="'editModal' + ${tecnico.tecnico_id}" tabindex="-1"
                        th:attr="aria-labelledby='editModalLabel' + ${tecnico.tecnico_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header edit-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'editModalLabel' + ${tecnico.tecnico_id}">
                                        Editar técnico <span th:text="${tecnico.tecnico_id}"></span>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/tecnicos/save}" method="post">
                                        <input type="hidden" name="tecnico_id" th:value="${tecnico.tecnico_id}">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">Nombre</span>
                                                </div>
                                                <input type="text" class="form-control" id="inputNombreTecnico"
                                                    name="tecnico_nombre" th:value="${tecnico.tecnico_nombre}"
                                                    placeholder="Ingrese el nuevo nombre del técnico">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-edit modal-btn">Actualizar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal de ELIMINAR -->
                    <div class="modal fade" th:id="'deleteModal' + ${tecnico.tecnico_id}" tabindex="-1"
                        th:attr="aria-labelledby='deleteModalLabel' + ${tecnico.tecnico_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header cancel-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'deleteModalLabel' + ${tecnico.tecnico_id}">
                                        ¿Estás seguro de que deseas eliminar el técnico <span
                                            th:text="${tecnico.tecnico_id}"></span>?
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Se perderán todos los datos relacionados con este técnico.
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/tecnicos/delete/{id}(id=${tecnico.tecnico_id})}"
                                        class="btn btn-delete modal-btn">Eliminar</a>
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal de CREAR -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header create-modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Crear técnico</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/tecnicos/save}" method="post">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Nombre del técnico</span>
                                </div>
                                <input type="text" class="form-control" id="inputNombreTecnico" name="tecnico_nombre"
                                    placeholder="Ingrese el nuevo nombre del técnico">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-create modal-btn">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-closeModal modal-btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>