<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Vehiculo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Modificar Vehiculo</h1>
        <form th:action="@{/vehiculos/save}" method="post">
            <input type="hidden" name="vehiculo_id" th:value="${vehiculo.vehiculo_id}">

            <div class="form-group">
                <label for="inputPatenteVehiculo">Patente</label>
                <input type="text" class="form-control" id="inputPatenteVehiculo"
                name="vehiculo_patente"
                th:value="${vehiculo.vehiculo_patente}"
                placeholder="Ingrese la nueva patente del vehiculo">

                <select class="form-select" aria-label="Select Modelo" id="selectModeloVehiculo" name="modelo_id">
                    <option selected disabled>Seleccionar un nuevo modelo</option>
                    <option th:each="modelo :${Modelos}" th:text="${modelo.modelo_nombre}" th:value="${modelo.modelo_id}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Actualizar</button>
        </form>
    </div>
</body>
</html>