<div th:insert="base.html"></div>
<title>Marca</title>

<div class="container crud-container">
    <div>
        <div class="crud-header">
            <div>
                <h1 class="crud-title">Lista de marcas</h1>
            </div>
            <div><button data-bs-toggle="modal" data-bs-target='#createModal' class="btn btn-create">Agregar
                    marca</button></div>


        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="marca:${Marcas}">
                    <td scope="row" th:text="${marca.marca_id}"></td>
                    <td th:text="${marca.marca_nombre}"></td>
                    <td class="action-cell">
                        <button class="btn btn-edit" data-bs-toggle="modal"
                            th:attr="data-bs-target='#editModal' + ${marca.marca_id}">
                            <img class="icon-button" th:src="editar.png">
                        </button>
                    </td>
                    <td class="action-cell">
                        <button class="btn btn-delete" data-bs-toggle="modal"
                            th:attr="data-bs-target='#deleteModal' + ${marca.marca_id}">
                            <img class="icon-button" th:src="borrar.png">
                        </button>
                    </td>
                    <!-- Modal de EDITAR -->
                    <div class="modal fade" th:id="'editModal' + ${marca.marca_id}" tabindex="-1"
                        th:attr="aria-labelledby='editModalLabel' + ${marca.marca_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header edit-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'editModalLabel' + ${marca.marca_id}">
                                        Editar registro <span th:text="${marca.marca_id}"></span>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="formMarca" th:action="@{/marcas/save}" method="post">
                                        <input type="hidden" name="marca_id" th:value="${marca.marca_id}">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">Nombre de la marca</span>
                                                </div>
                                                <input type="text" class="form-control" id="inputNombreMarca"
                                                    name="marca_nombre" th:value="${marca.marca_nombre}"
                                                    placeholder="Ingrese el nuevo nombre de la marca" oninput="validarSoloLetras(this)" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-edit modal-btn" >Actualizar</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Modal de ELIMINAR -->
                    <div class="modal fade" th:id="'deleteModal' + ${marca.marca_id}" tabindex="-1"
                        th:attr="aria-labelledby='deleteModalLabel' + ${marca.marca_id}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header cancel-modal-header">
                                    <h1 class="modal-title fs-5" th:id="'deleteModalLabel' + ${marca.marca_id}">
                                        ¿Estas seguro que deseas eliminar el registro <span
                                            th:text="${marca.marca_id}"></span>?
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Se <b>perderán</b> todos los datos del mismo
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/marcas/delete/{id}(id=${marca.marca_id})}"
                                        class="btn btn-delete modal-btn">Eliminar</a>
                                    <button type="button" class="btn btn-closeModal modal-btn"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>

        <!-- Modal de CREAR -->
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header create-modal-header">
                        <h1 class="modal-title fs-5" id="createModalLabel">Crear marca</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formMarca" th:action="@{/marcas/save}" method="post">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Nombre de la marca</span>
                                    </div>
                                    <input type="text" class="form-control" id="inputNombreMarca" name="marca_nombre"
                                        placeholder="Ingrese el nuevo nombre de la marca" oninput="validarSoloLetras(this)" required>
                                </div>
                            </div>
                            <div>
                                <button id="btnGuardar" type="submit" class="btn btn-create modal-btn">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-closeModal modal-btn"
                            data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
            <script>

                function validarSoloLetras(input) {
                    input.value = input.value.replace(/[^a-zA-ZÑñ]/g, '');
                }


            </script>
        </div>

    </div>
